body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}
.btn-1 {
    animation-name: grow;
    background: rgb(251,338,117);
    animation-duration: 3s;
    padding: .6px;
    animation-direction: alternate-reverse;
    animation-delay: 2s;
    animation-iteration-count: 4;
    animation-timing-function: ease-in-out;
}
@keyframes grow {
    0% {width: 130px; height: 40px; background: greenyellow;}
    100% {width: 100px; height: 40px; background: rgba(39, 109, 222, 0.651);}
}
.btn-2 {
    background: cyan;
    animation-name: transform;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 4s;
    animation-timing-function: ease;
}
@keyframes transform {
    100% { transform: rotate(360deg)}
}
.btn-3 {
   background: goldenrod;
   animation-name: slide-left;
   animation-duration: 5s;
   animation-timing-function: ease-in-out;
   animation-delay: 4s;

}
@keyframes slide-left {
0% {margin-right: 0px;}
100% {margin-right: 128px;}
}
/* Add your custom styles for btn-1, btn-2, and btn-3 */